body {
    background-size: cover;    
    background-repeat: no-repeat;
    

  
}
h1 {
  margin-top: 5%;
  font-size: 100px;
  color: white;
  text-align: center;
}

p{
    margin-left: 5%;
    font-weight: bold;
    margin-top: 10%;
    font-size: 30px;
    color: white;
  text-align: cen;
}

h3{
  font-size: 30px;
  color: white;
  margin-left: 5%;
}

#fb{
    font-weight: bold;
    font-size: 40px;
    color: red;
  text-align: center;
  margin-left: 5%;
}
#ig{
    font-weight: bold;
    font-size: 40px;
    color: red;
  text-align: center;
  
    
  margin-left: 5%;
}


a{
    font-weight: bold;
    font-size: 40px;
    color: silver;
  text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 250px;
}

nav a {
    display: inline-block;   /* IMPORTANT */
    position: relative;      /* IMPORTANT */
    font-weight: bold;
    font-size: 30px;
    color: silver;
    text-decoration: none;
    padding: 5px 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* hover */
nav a:hover {
    color: white;
    transform: scale(1.1);
}

/* underline */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}


#home1 {
    position: absolute;
    margin-left: 60%;
    margin-top: -7%;
    tab-size: 20px;
    border-radius: 10px;
}