/* SIR ITO YUNG BODY */
body {
    background-image: url("redred.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* SIR ITO YUNG GALLERY LAYOUT */
.gallery {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* ITO ANG SA IMAGES */
.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* ITO AND HOVER EFFECT */
.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    z-index: 2;
}

/* ITO NAMAN SIR YUNG SA NAVIGATION */
nav {
    text-align: center;
    margin: 40px 0;
}
 /* ITO NAMAN SIR YUNG SA NAVIGATION PERO A */
nav a {
    font-weight: bold;
    font-size: 30px;
    color: silver;
    margin: 0 15px;
    
}
